body {
  text-align: center;
  font-family: sans-serif;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
  justify-content: center;
  margin: 30px auto;
}

.hole {
  width: 120px;
  height: 120px;
  background: #444;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.hole.active::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: url("mole.png");
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}